.settings-page {
  min-height: 100vh;
  background: #0f0f0f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings-card {
  background: #1a1a1a;
  padding: 30px;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  color: white;
}

.settings-card h2 {
  margin-bottom: 20px;
  text-align: center;
}

.settings-card label {
  display: block;
  margin-top: 12px;
  font-size: 14px;
  color: #bbb;
}

.settings-card input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  background: #111;
  border: 1px solid #333;
  border-radius: 6px;
  color: white;
}

.settings-card button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background: #f5c542;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.settings-card button:hover {
  background: #ffd966;
}

.status {
  text-align: center;
  margin-bottom: 10px;
  color: #4ade80;
}
.back-btn {
  background: transparent;
  color: #ccc;
  border: 1px solid #333;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 12px;
  cursor: pointer;
  transition: 0.2s;
}

.back-btn:hover {
  background: #222;
  color: white;
}
.profile-preview {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  border: 2px solid #f5c542;
}
